ul {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 10;
}

ul li {
    position: relative;
    z-index: 10;
    float: left;
    width: auto;
    margin-right: 10px;
}

li ul {
    position: absolute;
    display: none;
    z-index: 10;
}
li ul li{
	padding: 0;	
	width: 120px;
}

li ul li a{
   background: #494949;
   height: auto;
}

ul li a {
    display: block;
    text-decoration: none;
    color: #D1D3D7;
    padding: 1px 0px 4px 5px;
    border-bottom: 0;
    z-index: 10;
    height: 23px;
}

ul li a:hover { 
	color: white; 
	text-decoration: none;
}

li:hover ul, li.over ul {
	display: block;
	z-index: 100;
	top: 23px;
}



.menu {
	width: 100%;
	background: white url(../img/menu_back.png) repeat-x;
	height: 23px;
	font-weight: bold;
	font-size: 0.8em;
	padding-left: 10px;
	padding-top: 2px;
}

#menu_right {
	float: right;
	padding-right: 10px;
}

/* fixing internet explorer problems */
* html ul li { 
	float: left; 
	width: 10px;	
}

* html li ul li {
	width: 120px;
}

* html .floatfix{
	display: none;
}

* html ul li a { 
	
}

