body {
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: tahoma;
	background: #5D7AA8;
}

.container {
	background-color: white;
}

/* div style definitions*/
.header {
	background: #5D7AA8;
	margin: 0;
	padding: 0;
	text-align: center;
}

.configuration {
	clear: both;
	background-color: white;
	font-family: garamond;
}

.feedback{
	display: block;
	z-index: 1;
	width: 100%;	
}

.footer {
	background: white url(../img/footer_back.png) repeat-x;
	color: #D1D3D7;
	text-align: center;
	height: 16px;
	vertical-align: bottom;
	font-size: 0.70em;
	padding-top: 1px;
}

table{
	border: inset #AAA 1px;
	border-collapse: collapse;
	font-family: verdana,helvetica,arial,sans-serif;
	margin-top: 20px;
}
th{
	text-align: left;
	background: #88B3EF;
	font-size: 0.80em;
	border: inset #AAA 1px;
	padding: 0px 5px 0px 5px;
}
td {
	border: inset #AAA 1px;	
	font-size: 0.70em;
	padding: 0px 5px 0px 5px;
}
td.center {
	text-align: center;	
	padding: 0;
}

td a{
	display: block;	
	color: black;
	text-decoration: underline;
}
td a:hover{
	text-decoration: none;
}
td input {
	padding: 0;
	margin: 0;
	font-size: 0.80em;
}
td select {
	font-size: 0.80em;
	width: 100%;
}

form {
	border: solid #ddd 1px;
	width: 80%;
	padding: 15px;
	background-color: white;
	margin: 15px;
}
form h2 {
	font-size: 1.00em;
	font-family: arial;
	padding: 0px;
	margin: 1px;
}

table.noborder {
	border: none;
	width: 90%;
	clear: both;
}
table.noborder td {
	border: none;
	width: 20%;
}
table.noborder td input {
	padding: 4px;
	margin: 4px;
	font-size: 0.80em;
}
table.noborder td textarea {
	padding: 4px;
	margin: 4px;
}
table.noborder td div {
	padding: 4px;
	margin: 4px;
}
table.noborder td select {
	padding: 4px;
	margin: 4px;
	width: 20em;
	font-size: 0.80em;
}
table.noborder input [type="submit"] {
	margin-top: 20px;
}

a.orderLink{
	padding: 0;
	margin: 3px;
	display: inline;
	text-decoration: none;
	border: none;
}
a.orderLink img {
	border: none;
}

.mediaimage {
	width: 150px;
	height: 100px;	
	border: solid #88B3EF 1px;
	padding: 3px;
	margin: 5px;
	float: left;
	overflow: hidden;
}
.mediaimage input{
	display: block;
}
.mediaimage img{
	max-width: 96%;
	max-height: 50%;
}
.mediaimage .details{
	vertical-align: bottom;	
}

* html .mediaimage img{
	width: 96%;
	height: 50%;
}
