body {
	width: 100%;
	min-height: 800px;
	padding: 0;
	margin: 0;
	color: #392210;
	font-family: garamond;
	background: white;
}

.container {
	background-color: #8D4E22;
}

/* div style definitions*/
.header {
	background: url(../img/bg.png) repeat-x;
	margin: 0;
	padding: 0;
	text-align: center;
}

.configuration {
	clear: both;
	background-color: #8D4E22;
	min-height: 500px;
}

.configmenu {
	height: 36px;
	background-color: #5D86BA;
	border-style: solid;
	border-color: #A8A8A8;
	border-width: 2px 0px 2px 0px;
	margin: 5px 0px 5px 0px;
}

.footer {
	background: white url(../img/footer_bg.png) repeat-x;
	color: #392210;
	text-align: center;
	padding: 5px;
}

table{
	border: inset black 1px;
}

th{
	text-align: left;
	border: inset black 1px;
}

td {
	border: inset black 1px;	
}
td.center {
	text-align: center;	
}
td a{
	display:block;	
}
td a:hover{
	background-color: #E0E0E0;
}

form {
	border: solid black 1px;
	width: 80%;
	padding: 25px;
	background-color: #F0F0F0;
	margin: 25px;	
}

table.noborder{
	border: none;
	width: 90%;
	clear: both;
}
table.noborder td{
	border: none;
	width: 20%;
}
table.noborder td input {
	padding: 4px;
	margin: 4px;
}
table.noborder td textarea {
	padding: 4px;
	margin: 4px;
}
table.noborder td div {
	padding: 4px;
	margin: 4px;
}
table.noborder td select {
	padding: 4px;
	margin: 4px;
	width: 220px;
}

td input {
	padding: 0;
	margin: 0;
}

a.orderLink{
	padding: 0;
	margin: 3px;
	display: inline;
	text-decoration: none;
	border: none;
}

a.orderLink img {
	border: none;
}

.mediaimage {
	width: 150px;
	height: 100px;	
	border: solid #E16D1A 1px;
	padding: 3px;
	margin: 5px;
	float: left;
	overflow: hidden;
}

.mediaimage input{
	display: block;
}

.mediaimage img{
	max-width: 96%;
	max-height: 50%;
}

.mediaimage .details{
	vertical-align: bottom;	
}
