body {
	width: 100%;
	height: 800px;
	padding: 0;
	margin: 0;
	color: #E9601A;
	background-color: #C0C0C0;
	font-family: garamond;
}

.container {
	height: 100%;
}

/* div style definitions*/
.header {
	height: 100px;
	background-color: #C0C0C0;
}

.configuration {
	clear: both;
	background-color: #C0C0C0;
}

.configmenu {
	height: 36px;
	background-color: #C0C0C0;
	border-style: solid;
	border-color: #A8A8A8;
	border-width: 2px 0px 2px 0px;
}

.footer {
	height: 20px;
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #A8A8A8;
	border-width: 2px 0px 2px 0px;
	text-align: center;
}

td a:hover{
	background-color: #E0E0E0;
}

td a{
	display:block;	
}

table{
	border: inset black 1px;
}

th{
	text-align: left;
	border: inset black 1px;
}

td {
	border: inset black 1px;	
}

td.center {
	text-align: center;	
}

td.center{
	text-align: center;	
}

form {
	border: solid black 1px;
	width: 80%;
	padding: 25px;
	background-color: #F0F0F0;
	margin: 25px;	
}

table.noborder td input {
	padding: 4px;
	margin: 4px;
}

table.noborder td textarea {
	padding: 4px;
	margin: 4px;
}

table.noborder td div {
	padding: 4px;
	margin: 4px;
}

table.noborder td select {
	padding: 4px;
	margin: 4px;
	width: 220px;
}

td input {
	padding: 0;
	margin: 0;
}

table.noborder{
	border: none;
	width: 90%;
}

table.noborder td{
	border: none;
	width: 50%;
}
a.orderLink{
	padding: 0;
	margin: 3px;
	display: inline;
	text-decoration: none;
	border: none;
}

a.orderLink img {
	border: none;
}