ul {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 10;
}

ul li {
    position: relative;
    z-index: 10;
    float: left;
    width: 100px;
}

li ul {
    position: absolute;
    display: none;
    z-index: 10;
}

li ul li a{
   border-top: solid #7A7F76 1px;
}

ul li a {
    display: block;
    text-decoration: none;
    color: navy;
    background: #ffffff;
    padding: 5px;
    border-bottom: 0;
    z-index: 10;
}

ul li a:hover { 
	color: red; 
	background: #7A7F76;
}

li:hover ul { 
	display: block;
}

li:hover ul, li.over ul {
	display: block;
}

.floatfix { 
	clear: both; 
} 

.menu {
	width: 100%;
	background-color: #ffffff;
	border-style: solid;
	border-color: #A8A8A8;
	border-width: 2px 0px 2px 0px;
}

#menu_right {
	float: right;
}

/* fixing internet explorer problems */
* html ul li { 
	float: left; 
	height: 1%; 
}

* html .floatfix{
	display: none;
}

* html ul li a { 
	height: 1%; 
}

