body {
	background-color: #FFFFFF;
	font-family: 'Lucida Sans', 'Helvetica', 'Sans-serif', 'sans';
	font-size: 10pt;
}

.container {
	width: 1024px;
	text-align: left;
	border: double LightGrey 1px;
	background-color: #FFFFFF;
}

.header {
	clear: both;
	text-align: center;
}

img.banner {
	width: 100%;
}

.wrap_top{
	background:  url('../img/top_bg.gif') top center no-repeat;
}
.left {
	border-right: dotted grey 1px;
	position: absolute;
	width: 200px;
	margin: 2px;
	padding-left: 2px;
	left: 610px;
}

.center {
	
	float: left;
	width: 600px;
	margin: 2px;
	border-right: dotted grey 1px;
}

.right {
	
	position: relative;
	width: 200px;
	margin: 2px;
	top: 0px;
	float: right;
}

.footer {
	clear: both;
	border-top: dotted Grey 1px;
}

a.unfinishedlink {
	text-decoration: none;
	display: block;
}

a.unfinishedlink:hover {
	background-color: #EEEEEE;
}

a.unfinishedlink:visited {
	color: blue;
}

.plugin {
}

/* blogpost plugin mockup */
.blogpost {
	background:  url('../img/n2.gif') repeat-x;
	border: solid LightGrey 0px 1px 1px 1px;
	margin: 5px 5px 15px 5px;;
	padding: 5px;
}

.blogpost a {
	color: #E9601A;
	font-size: 80%;
}

.blogpost .title {
	font-size: 150%;
	font-family: "lucida console";
	font-style: italic;
	color: #4169E1;
}

.blogpost .text p:first-letter {
	font-family: cursive;
	font-family: "lucida console";
	font-size: 150%;
	font-weight: bold;
	color: #4169E1;
}

.blogpost .date {
	font-size: 75%;
	float: left;
	margin-right: 10px;
}

.blogpost .author {
	font-style: italic;
	font-weight: bold;
	margin-right: 10px;
}

.blogpost div.commenttext {
	border-top: dotted black 1px;
}

/* helloworld plugin mockup */
.helloworld {
	font-size: 125%;
	font-weight: bold;
}

/* titan plugin mockup */
.titan a {
	text-decoration: none;
	color: black;
	font-family: 'Lucida Sans', 'Helvetica', 'Sans-serif', 'sans';
	font-size: 10pt;
	font-style: italic;
}

.titan a:hover div {
	background:  url('../img/n4.gif') repeat-x;
}

.titan a:visited {
	color: black;
}

/* ToDo plugin mockup */
.todoTopLine {
	border-bottom: dotted #e9601a 1px;
	margin: 0px 5px 0px 5px;
	padding: 10px;	
}
a.menuItem {
	background: #fff url('../img/n2.gif') repeat-x;
	color: black;
	text-decoration: none;
	display: block;
	padding: 0.4em 0;
}

a.menuItem:hover {
	background-color: #EEEEEE;
	color: #e9601a;
}

ul.menuItems {
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li.menuItemsHorizontal {
	float: left;
}

li.menuItemsHorizontal a {
	width: 100px;
	text-align: center;
	background: #fff url('../img/n4.gif') repeat-x;
	padding: 1.1em 1.4em 0.6em 1.4em;
}
li.menuItemsHorizontal a:hover {
	background-color: #a9a9a9;
	color: #e9601a;
}
.menu {
	width: 100%;
	background: #fff url('../img/n4.gif') repeat-x;
}

.floatfix{
	width: 100%;
	clear: both;	
}
